.container {
  height: 200vh;
}
.red {
  color: #ff5855;
}
.green {
  color: #2cb2a5;
}
.yellow {
  color: #f6a447;
}
.title {
  font-weight: 600;
  font-size: 20px;
  padding-left: 20px;
  background-color: white;
}
.title > p {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
